// Border radius
@mixin round-corners($radius) {
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin flex-center($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}