// Border radius
@mixin round-corners($radius) {
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Flex layout
@mixin flex-center($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

// Subheading
@mixin subheading($textTransform) {
  color: $primary-heading-color;
  font-weight: weight(light);
  font-size: $font-size * 1.3;
  text-transform: $textTransform;
  letter-spacing: 1px;
  word-spacing: 3px;
}

// Link to see more...
@mixin see-more {
  color: $app-violet;
  font-weight: weight(light);
  font-size: $font-size * 0.85;
  font-style: italic;
  word-spacing: 3px;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: none;
}